$left-panel-font-color: #fbfbfb;
$left-panel-input-bg-color: #39414e;
.left-panel-container {
  position: relative;
  background-color: $left-panel-input-bg-color;
  padding: 10px;
  width: 240px;

  #input-text-area {
    height: 300px;
    width: 100%;
    padding: 8px;
    resize: none;
    box-sizing: border-box;
    border-color: $left-panel-font-color;
    border-radius: 6px;
    background-color: $left-panel-input-bg-color;
    color: $left-panel-font-color;
    &::placeholder {
      color: $left-panel-font-color;
    }
  }

  .start-row {
    position: relative;
    margin-top: 30px;

    & > * {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .color-container {
    margin-top: 15px;
  }

  .settings-container {
      margin-top: 5px;
      padding-top: 5px;
      position: relative;

      div {
        display: inline-block;
      }
      input {
        display: inline-block;
        position: absolute;
        left: 156px;
        width: 60px;
        border: 1px solid $left-panel-font-color;
        border-radius: 3px;
      }
      .label {
        width: 100%;
        text-align: center;
        margin-bottom: 4px;

      }

      input.color {
        height: 49px;
        width: 90%;
        margin-left: 5%;
        text-align: center;
        display: block;
        position: static;
      }

      input.input-option {
        background-color: $left-panel-input-bg-color;
        width: 30px;
        padding: 2px;
        top: -50%;
        transform: translateY(50%);
      }
  }

  #btn-start {
    width: 90%;
    height: 60px;
    background-color: #d2ecff;
  }
}

h1#logo {
  margin-bottom: 20px;
  margin-top: 7px;
  text-align: center;
}

.reader-area {
  position: absolute;
  left: 260px;
  width: calc(100% - 240px);
  height: 100%;
  #reader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    text-align: center;
    letter-spacing: 0em;
    font-family: arial, sans-serif;
    font-size: 16px;

  }

  #btn-play-pause {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    opacity: 0.7;
  }
}